<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/masthead.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/static/js/leaflet.css" />
    <script src="/static/js/leaflet.js"></script> 


  </head>
  <body>

    {% block content %}
    {% endblock %}

  </body>

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}">

</html>

